@import '~modern-css-reset/dist/reset.css'; 

  body {
    background-color: black;
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 20px 0 0 0;
  }

  html {
    font-size: 62.5%;
  }

