// font-family
$primary-font-family: helvetica; 

// font-size
$secondary-font-size-mobile: 1.2rem; 
$secondary-font-size-tablet: 2rem;
$secondary-font-size-desktop: 3rem;

// font-color
$primary-font-color: white; 

