@import "./styles/variables.scss";

.bio-container {
  color: $primary-font-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  padding-top: 5%;
}

.bio-picture {
  display: flex;
  justify-content: center;
  img {
    max-width: 80%;
  }
}

.bio-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $primary-font-family;
  margin-top: 20px;
  text-transform: uppercase;
  h1 {
    font-size: $primary-font-size-mobile;
    margin-left: 30px;
  }
}
.bio-line {
  height: 2px;
  background-color: white;
  margin: 10px 30px;
}
.bio-main {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.bio-video-container {
  padding: 0 30px 0 30px;
}

.bio-title-description {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  padding-right: 30px;
  gap: 10px;
  img {
    height: 20px;
  }
}

.bio-paragraph {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;

  &.fade-out {
    opacity: 0;
  }
  &.fade-in {
    opacity: 1;
  }
  margin-top: 10px;
  p {
    font-size: $paragraph-font-size-mobile;
    font-family: $primary-font-family;
    margin-bottom: 10px;
  }
}

@media (min-width: 667px) and (max-width: 932px) and (orientation: landscape) {
  .bio-container {
    padding-top: 2%;
  }
  .bio-header-mobile-landscape {
    display: flex;
    flex-direction: row;
  }
  .bio-picture {
    img {
      justify-content: flex-start;
    }
    flex: 1;
  }
  .bio-titles {
    flex: 2;
  }

  .bio-video-container {
    display: flex;
    justify-content: center;
  }

  .bio-paragraph p {
    font-size: $secondary-font-size-mobile-landscape;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  .bio-picture img {
    max-width: 70%;
    margin-bottom: 10px;
  }
  .bio-container {
    padding: 10% 10px 10px 10px;
  }

  .bio-titles {
    h1 {
      font-size: $primary-font-size-tablet;
      margin-left: 60px;
    }
  }
  .bio-title-description {
    padding-right: 60px;
    img {
      height: 40px;
    }
    font-size: $secondary-font-size-tablet;
  }
  .bio-line {
    margin: 20px 60px;
  }
  .bio-main {
    padding: 20px 60px 20px 60px;
  }
  .bio-paragraph {
    p {
      font-size: $paragraph-font-size-tablet;
    }
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .bio-container {
    padding: 10% 10px 10px 10px;
  }
  .bio-header-mobile-landscape {
    display: flex;
    flex-direction: row;
  }
  .bio-picture {
    flex: 1;
  }
  .bio-title-description {
    font-size: 2rem;
  }
  .bio-video-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  .bio-titles {
    flex: 2;
    h1 {
      font-size: $primary-font-size-laptop;
    }
  }
  .bio-paragraph {
    padding: 30px;
    p {
      font-size: $paragraph-font-size-laptop;
    }
  }
  .bio-main {
    padding: 20px;
  }
}
