@import "./styles/variables.scss";
.no-scroll {
  overflow: hidden;
  height: 100vh;
}
.contact-container {
  color: $primary-font-color;
  position: relative;
  justify-content: center;
}
.contact-picture {
  position: fixed;
  z-index: -1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  z-index: -1;

  &.blurred {
    filter: blur(0px) brightness(50%);
    transition: filter 0.5s ease;
  }
}
.contact-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "PingFangHK", -apple-system, BlinkMacSystemFont;
  text-transform: uppercase;
  margin-top: 5%;
  h1 {
    font-size: 3.5rem;
    font-weight: 600;
    font-family: "PingFangHK", -apple-system, BlinkMacSystemFont;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
    margin-left: 5%;
  }
}
.contact-line {
  height: 2px;
  background-color: white;
  width: 90%;
  margin: 10px auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}
.contact-title-description {
  font-family: "PingFangHK", -apple-system, BlinkMacSystemFont;
  text-transform: uppercase;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  margin-right: 5%;
  gap: 10px;
  h5 {
    font-size: 0.9rem;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  }
  img {
    height: 30px;
  }
}
.contact-content {
  font-size: 1.5rem;
  font-family: "PingFangHK", -apple-system, BlinkMacSystemFont;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  font-weight: 600;
  display: flex;
}
.contact-form {
  background-color: rgba(255, 255, 255, 0.1);
  
  border: 1px solid white;
  width: 100%;
  padding: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  margin: 1% 5% 10% 5%;
}
.contact-form form {
  display: flex;
  flex-direction: column;
}
.contact-form div {
  display: flex;
  flex-direction: column;
}
.contact-form label {
  margin: 10px 0 10px 0;
  font-size: 1.3rem;
}
.contact-form input {
  border: 1px solid rgb(255, 255, 255);
  background-color: transparent;
  backdrop-filter: blur (10px);
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  border-radius: 2px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}
.contact-form textarea {
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  border-radius: 2px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}
.contact-form button {
  font-size: 1rem;
  margin-top: 10px;
  width: 100%;
  padding: 10px 16px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  text-transform: uppercase;
  color: white;
  font-family: "PingFangHK", -apple-system, BlinkMacSystemFont;
  font-weight: 600;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
.contact-button {
  background-color: transparent;
  border-radius: 2px;
  padding: 10px 25px;
  font-size: 1.5srem;
  cursor: pointer;
  width: 200px;
}
.popup-message {
  padding: 10px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: fixed;
  z-index: 1;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  border: 2px solid rgb(255, 101, 101);
  width: 90%;
}

.success-message {
  font-size: 1.5rem;
}
.error-message {
  font-size: 1.5rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Assombrir l'arrière-plan */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  color: white;
  background-color: black;
  font-family: "PingFangHK", -apple-system, BlinkMacSystemFont;
  font-size: 1.5rem;
  border: 1px solid white;
  padding: 40px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal h2 {
  margin-bottom: 20px;
}

.modal button {
  font-size: 1rem;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: black;
  color: white;
  border: none;
  border: 1px solid white;
  cursor: pointer;
}

.modal button:hover {
  background-color: #0056b3;
}

form {
  text-transform: uppercase;
}

@media (min-width: 768px) and (orientation: portrait) {
  .contact-container {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }
  .contact-titles {
    h1 {
      font-size: 4.5rem;
    }
  }
  .contact-title-description {
    h5 {
      font-size: 1.5rem;
    }
  }
  .contact-form {
    backdrop-filter: blur(2px);
    label {
      font-size: 2rem;
    }
    input {
      font-size: 1.5rem;
    }
    textarea {
      font-size: 1.5rem;
    }
    button {
      font-size: 1.5rem;
    }
  }
}
@media (min-width: 834px) and (orientation: portrait) {
  .contact-container {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
  }
}
@media (min-width: 1024px) and (orientation: portrait) {
  .contact-container {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .contact-container {
    margin-top: 10%;
  }
  .contact-title-description {
    h5 {
      font-size: 1.5rem;
    }
    img {
      width: 40px;
      height: 40px;
    }
  }
  .contact-form {
    backdrop-filter: blur(1px);
    label {
      font-size: 2rem;
    }
    input {
      font-size: 1.5rem;
    }
    textarea {
      font-size: 1.5rem;
    }
    button {
      margin-top: 20px;
      font-size: 1.5rem;
    }
  }
}
@media (min-width: 1280px) and (orientation: landscape) {
  .contact-container {
    margin: 0;
  }
}
@media (min-width: 1920px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .modal-overlay {
    h4 {
      font-size: 3.5rem;
    }
    button {
      font-size: 3rem;
    }
  }
  .contact-titles {
    h1 {
      font-size: 5rem;
    }
    .contact-title-description {
      h5 {
        font-size: 1.5;
      }
    }
    img {
      width: 40px;
      height: 40px;
    }
  }
  .contact-form {
    padding: 40px;
    label {
      font-size: 2rem;
    }
    input {
      padding: 20px;
      font-size: 2rem;
    }
    textarea {
      padding: 20px;
      font-size: 2rem;
    }
    button {
      margin-top: 30px;
      font-size: 2rem;
    }
  }
}
