@import "./styles/variables.scss";

.home-container {
  color: $primary-font-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.home-picture {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &.blurred {
    filter: blur(3px);
    transition: filter 0.5s ease;
  }
}

.home-titles {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
  transition: opacity 1s ease, transform 1s ease;

  h1 {
    font-size: 3.5rem;
    font-weight: 600;
    font-family: "PingFangHK", -apple-system, BlinkMacSystemFont;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  }

  h3 {
    font-size: 1.3em;
    font-weight: 500;
    font-family: "PingFangHK", -apple-system, BlinkMacSystemFont;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  }
}

.hide-title {
  opacity: 0;
  pointer-events: none;
}

.home-paragraph-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: 2;
}

.home-main {
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  padding: 20px;
  z-index: 2;

  &.show-paragraph {
    opacity: 1;
    transform: translateY(0);
  }

  &.hide-paragraph {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
  }

  p {
    font-family: "PingFangHK", -apple-system, BlinkMacSystemFont;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
    margin: 0;
  }
  .home-fade-in-text {
    display: inline-block;
    animation: fadeIn 0.6s ease;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.home-title-description {
  font-family: "PingFangHK", -apple-system, BlinkMacSystemFont;
  text-transform: uppercase;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  z-index: 2;

  h5 {
    font-size: 0.9rem;
    color: white;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
    margin: 0;
  }

  img {
    height: 30px;
  }
}

.fade-text {
  position: relative;
  display: inline-block;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;

  span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 1s ease;
    display: block;
    width: 100%;
  }

  span.active {
    opacity: 1;
    position: relative;
  }
}

// Tablette portrait
@media (min-width: 390px) and (orientation: portrait) {
  .home-titles {
    h3 {
      font-size: 1.4rem;
    }
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  .home-titles {
    h1 {
      font-size: 4.5rem;
    }
    h3 {
      font-size: 2.5rem;
    }
  }

  .home-main p {
    font-size: 2rem;
  }
  .home-title-description {
    h5 {
      font-size: 1.5rem;
    }
  }
}

// Tablette Paysage
@media (min-width: 1024px) and (orientation: landscape) {
  .home-titles {
    h1 {
      font-size: 4.5rem;
    }
    h3 {
      font-size: 2.5rem;
    }
  }
  .home-main p {
    font-size: 2rem;
  }
  .home-title-description {
    h5 {
      font-size: 1.5rem;
    }
    img {
      width: 40px;
      height: 40px;
    }
  }
}

// Responsive grand écran
@media (min-width: 1920px) {
  .home-titles {
    h1 {
      font-size: 5rem;
    }

    h3 {
      font-size: 3rem;
    }
  }

  .home-main {
    padding: 40px;
    p {
      font-size: 2rem;
    }
  }
  .home-title-description {
    h5 {
      font-size: 1.5rem;
    }
    img {
      width: 40px;
      height: 40px;
    }
  }
}
