@import "./styles/variables.scss";

.home-container {
  color: $primary-font-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  padding-top: 20%;
  height: 100vh;
}

.home-picture {
  display: flex;
  justify-content: center;
  img {
    max-width: 80%;
  }
}

.home-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $primary-font-family;
  text-transform: uppercase;
  margin-top: 20px;
  h1 {
    font-size: $primary-font-size-mobile;
  }
  h3 {
    font-size: 1.5rem;
  }
  h1,
  h3 {
    text-align: center;
  }
}

.home-line {
  height: 2px;
  background-color: white;
  margin: 10px 30px;
}

.home-main {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  h1,
  h3 {
    text-align: center;
  }
}
.home-paragraph {
  p {
    font-family: $primary-font-family;
    font-size: $secondary-font-size-mobile;
    margin-bottom: 10px;
  }
}
.home-footer {
  font-family: $primary-font-family;
  font-size: 1rem;
  text-align: right;
}

@media (min-width: 667px) and (max-width: 932px) and (orientation: landscape) {
  .home-container {
    padding-top: 2%;
  }
  .home-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .home-picture {
    img {
      justify-content: flex-start;
    }
    flex: 1;
  }
  .home-titles {
    flex: 2;
  }
  .home-paragraph {
    p {
      font-size: $secondary-font-size-mobile-landscape;
    }
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  .home-picture img {
    max-width: 70%;
    margin-bottom: 10px;
  }
  .home-container {
    padding: 10% 10px 10px 10px;
  }
  .home-titles {
    h1 {
      font-size: $primary-font-size-tablet;
    }
    h3 {
      font-size: 2rem;
    }
    h1,
    h3 {
      text-align: center;
    }
  }
  .home-line {
    margin: 20px 60px;
  }
  .home-main {
    padding: 20px 60px 20px 60px;
  }
  .home-paragraph {
    p {
      font-size: $paragraph-font-size-tablet;
    }
  }
  .home-footer {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .home-container {
    padding: 5% 10px 10px 10px;
  }
  .home-picture {
    flex: 1;
  }
  .home-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .home-titles {
    h1 {
      font-size: $primary-font-size-laptop;
    }
    h3 {
      font-size: $secondary-font-size-laptop;
    }
    flex: 2;
  }
  .home-paragraph {
    padding: 30px 10px;
    p {
      font-size: $paragraph-font-size-laptop;
    }
  }
  .home-footer {
    font-size: 2rem;
  }
}
@media (min-width: 1280px) and (orientation: landscape) {
  .home-paragraph {
    padding: 20px 40px;
    p {
      font-size: $paragraph-font-size-laptop;
    }
  }
  .home-footer {
    font-size: 2.5rem;
  }
}
