@import "./styles/variables.scss";
.no-scroll {
  overflow: hidden;
  height: 100vh;
}
.music-container {
  color: $primary-font-color;
  height: 100vh;
}

.music-picture {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;

  &.blurred {
    filter: blur(3px) brightness(40%);
    transition: filter 0.5s ease;
  }
}

.music-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $primary-font-family;
  margin-top: 5%;
  text-transform: uppercase;
  h1 {
    font-size: 3.5rem;
    font-weight: 600;
    font-family: "PingFangHK", -apple-system, BlinkMacSystemFont;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
    margin-left: 5%;
  }
}

.music-line {
  height: 2px;
  background-color: white;
  width: 90%;
  margin: 10px auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}
.music-main {
  display: flex;
  flex-direction: column;
}

.music-title-description {
  font-family: "PingFangHK", -apple-system, BlinkMacSystemFont;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  margin-right: 5%;
  gap: 10px;
  h5 {
    font-size: 0.9rem;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  }
  img {
    height: 30px;
  }
}

.music-button-container {
  display: flex;
  justify-content: center;
  margin: 2% 5% 0 5%;
  gap: 10px;

  :nth-child(2) {
    color: rgb(50, 201, 212);
    border: 1px solid rgb(50, 201, 212);
  }
  :nth-child(3) {
    border: 1px solid rgb(245, 157, 57);
    color: rgb(245, 157, 57);
  }
  button {
    width: 100%;
    padding: 10px 16px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    text-transform: uppercase;
    color: white;
    font-family: "PingFangHK", -apple-system, BlinkMacSystemFont;
    font-weight: 600;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}
.music-carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  gap: 5%;

  box-sizing: content-box;
}
.music-carousel::-webkit-scrollbar {
  display: none;
}

// Téléphone paysage
@media (min-width: 667px) and (orientation: landscape) {
  .music-picture {
    background-position: center 15%;
  }
  .music-player-music-contain {
    display: flex;
  }
  .music-button-container {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 6%;
  }
}

// Tablette portrait
@media (min-width: 768px) and (orientation: portrait) {
  .music-titles {
    h1 {
      font-size: 4.5rem;
    }
  }
  .music-title-description {
    h5 {
      font-size: 1.5rem;
    }
  }
  .music-button-container {
    font-size: 1.5rem;
  }
}

// Tablette paysage
@media (min-width: 1024px) and (orientation: landscape) {
  .music-titles {
    h1 {
      font-size: 4.5rem;
    }
    img {
      width: 40px;
      height: auto;
    }
  }

  .music-button-container,
  .music-title-description h5 {
    font-size: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .music-container {
    height: 120vh;
  }
  .music-player-music-contain {
    display: flex;
    align-items: center;
  }
  .music-button-container {
    flex-direction: column;
    margin-left: 5%;
  }
}
@media (min-width: 1920px) {

  .music-container {
    color: $primary-font-color;
    height: 120vh;
  }
  .music-titles {
    h1 {
      font-size: 5rem;
    }
  }
  .music-title-description {
    h5 {
      font-size: 1.5rem;
    }
    img {
      width: 40px;
    }
  }
  .music-button-container {
    font-size: 2rem;
  }
}
