@import "./styles/variables.scss";

.music-container {
  color: $primary-font-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  padding-top: 5%;
}

.music-picture {
  display: flex;
  justify-content: center;
  img {
    max-width: 80%;
  }
}

.music-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $primary-font-family;
  margin-top: 20px;
  text-transform: uppercase;
  h1 {
    font-size: $primary-font-size-mobile;
    margin-left: 30px;
  }
}

.music-line {
  height: 2px;
  background-color: white;
  margin: 10px 30px;
}
.music-main {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.music-title-description {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  padding-right: 30px;
  gap: 10px;
  img {
    height: 20px;
  }
}

.music-button-container {
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  :nth-child(2) {
    color: rgb(50, 201, 212);
    border: 1px solid rgb(50, 201, 212);
  }
  :nth-child(3) {
    border: 1px solid rgb(245, 157, 57);
    color: rgb(245, 157, 57);
  }
  button {
    text-transform: uppercase;
    padding: 10px;
    font-family: $primary-font-family;
    color: $primary-font-color;
    background-color: transparent;
    border: 1px solid rgb(208, 207, 210);
  }
}
.music-carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}
.music-carousel::-webkit-scrollbar {
  display: none;
}

// .music-player-container-1 {
//   flex: 0 0 100%;
//   scroll-snap-align: center;
//   scroll-snap-stop: always;
//   display: flex;
//   flex-direction: column;
//   min-width: 250px;
//   height: 350px;
//   border: 1px solid rgb(50, 201, 212);
//   padding: 20px;
//   .music-player-picture {
//     border: 1px solid rgb(50, 201, 212);
//   }
//   .music-player-timeline {
//     border: 1px solid rgb(50, 201, 212);
//   }

//   :nth-child(1) {
//     color: rgb(50, 201, 212);
//   }
//   :nth-child(2) {
//     color: rgb(50, 201, 212);
//   }
//   :nth-child(3) {
//     color: rgb(50, 201, 212);
//   }
//   :nth-child(4) {
//     color: rgb(50, 201, 212);
//   }
// }
// .music-player-container-2 {
//   flex: 0 0 100%;
//   scroll-snap-align: center;
//   scroll-snap-stop: always;
//   display: flex;
//   flex-direction: column;
//   min-width: 250px;
//   height: 350px;
//   border: 1px solid rgb(245, 157, 57);
//   padding: 20px;
//   .music-player-picture {
//     border: 1px solid rgb(245, 157, 57);
//   }
//   .music-player-timeline {
//     border: 1px solid rgb(245, 157, 57);
//   }
//   :nth-child(1) {
//     color: rgb(245, 157, 57);
//   }
//   :nth-child(2) {
//     color: rgb(245, 157, 57);
//   }
//   :nth-child(3) {
//     color: rgb(245, 157, 57);
//   }
//   :nth-child(4) {
//     color: rgb(245, 157, 57);
//   }
// }

@media (min-width: 667px) and (max-width: 932px) and (orientation: landscape) {
  .music-container {
    padding-top: 2%;
  }
  .music-header-mobile-landscape {
    display: flex;
    flex-direction: row;
  }
  .music-picture {
    img {
      justify-content: flex-start;
    }
    flex: 1;
  }
  .music-titles {
    flex: 2;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .music-container {
    padding: 10% 10px 10px 10px;
  }

  .music-picture {
    img {
      max-width: 70%;
      margin-bottom: 10px;
    }
  }

  .music-titles {
    h1 {
      font-size: $primary-font-size-tablet;
      margin-left: 60px;
    }
  }

  .music-title-description {
    padding-right: 60px;
    img {
      height: 40px;
    }
    font-size: $secondary-font-size-tablet;
  }
  .music-button-container {
    button {
      border: 1px solid white;
      font-size: 2rem;
      background-color: transparent;
    }
  }
  .music-line {
    margin: 20px 60px;
  }
  .music-main {
    padding: 20px 60px;
  }

  .music-player-artist-container {
    div {
      font-size: 3rem;
    }
    .music-player-duration {
      font-size: 2.5rem;
    }
  }
  .music-player-timeline {
    height: 20px;
  }
  .music-player-buttons {
    padding: 10px 0;
    img {
      width: 40px;
    }
  }
  .music-player-artist-list-container {
    div {
      font-size: 2.5rem;
    }
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .music-container {
    padding: 10% 10px 10px 10px;
  }
  .music-header-mobile-landscape {
    display: flex;
    flex-direction: row;
  }
  .music-picture {
    flex: 1;
  }
  .music-title-description {
    font-size: 2rem;
  }
  .music-titles {
    flex: 2;
    h1 {
      font-size: $primary-font-size-laptop;
    }
  }

  .music-button-container {
    font-size: 2rem;
    margin: 20px;
  }
  .music-player-artist-container {
    div {
      font-size: 2.5rem;
    }
    .music-player-duration {
      font-size: 2rem;
    }
  }

  .music-player-bottom {
    div {
      font-size: 2rem;
    }
  }
  .music-player-timeline {
    height: 20px;
  }
  .music-player-buttons {
    img {
      width: 30px;
    }
  }
}
@media (min-width: 1280px) {

  .music-player-container-1 {
    .music-player-timeline {
      border: 2px solid;
    }
  }
  .music-player-container-2 {
    .music-player-timeline {
      border: 2px solid;
    }
  }
  .music-player-artist-list-container {
    border-bottom: 2px solid;
  }
}
