@import "./styles/variables.scss";

.studio-container {
  color: $primary-font-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  padding-top: 5%;
}

.studio-picture {
  display: flex;
  justify-content: center;
  img {
    max-width: 80%;
  }
}
.studio-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $primary-font-family;
  margin-top: 20px;
  text-transform: uppercase;
  h1 {
    font-size: $primary-font-size-mobile;
    margin-left: 30px;
  }
}

.studio-line {
  height: 2px;
  background-color: white;
  margin: 10px 30px;
}

.studio-title-description {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  padding-right: 30px;
  gap: 10px;
  img {
    height: 20px;
  }
}

.studio-caroussel {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 80%;
    object-fit: cover;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
    &.fade-in {
      opacity: 1;
    }

    &.fade-out {
      opacity: 0;
    }
  }
}
.studio-caroussel-description {
  margin: 0 10px;
  margin-top: 10px;
  padding: 10px 10px;
  h5 {
    color: burlywood;
    font-size: 2rem;
    font-family: $primary-font-family;
    border-bottom: 1px solid burlywood;
    margin-top: 0;
    margin-bottom: 10px;
  }
  h6 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: $primary-font-family;
  }
  p {
    font-size: 1.2rem;
    font-family: $primary-font-family;
  }
}
.studio-main {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
}
.studio-paragraph {
  margin-top: 10px;
  p {
    font-size: $paragraph-font-size-mobile;
    font-family: $primary-font-family;
    margin-bottom: 10px;
  }
}

@media (min-width: 667px) and (max-width: 932px) and (orientation: landscape) {
  .studio-container {
    padding-top: 2%;
  }
  .studio-header-mobile-landscape {
    display: flex;
    flex-direction: row;
  }
  .studio-picture {
    img {
      justify-content: flex-start;
    }
    flex: 1;
  }
  .studio-titles {
    flex: 2;
  }
  .studio-caroussel-container {
    display: flex;
  }
  .studio-caroussel {
    justify-self: center;
    flex: 1.5;
  }
  .studio-caroussel-description {
    flex: 1;
  }
  .studio-paragraph {
    margin-top: 20px;
    p {
      font-size: 1.5rem;
    }
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  .studio-container {
    padding: 10% 10px 10px 10px;
  }
  .studio-picture {
    img {
      max-width: 70%;
    }
  }
  .studio-titles {
    h1 {
      margin-left: 60px;
      font-size: 3rem;
    }
  }
  .studio-title-description {
    padding-right: 60px;
    img {
      height: 40px;
    }
    font-size: 1.5rem;
  }
  .studio-line {
    margin: 20px 60px;
  }
  .studio-main {
    padding: 10px 60px 20px 60px;
  }
  .studio-caroussel {
    img {
      padding: 30px;
    }
  }
  .studio-caroussel-description {
    h5 {

      font-size: 2.5rem;
    }
    h6 {
      font-size: 2rem;
    }
    p {
      font-size: 2rem;
    }
  }
  .studio-paragraph {
    p {
      font-size: 2rem;
    }
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .studio-container {
    padding: 10% 10px 10px 10px;
  }
  .studio-header-mobile-landscape {
    display: flex;
    flex-direction: row;
  }

  .studio-picture {
    flex: 1;
  }
  .studio-title-description {
    font-size: 2rem;
  }
  .studio-caroussel-container {
    display: flex;
    justify-content: left;
    padding: 50px;
  }
  .studio-caroussel {
    display: flex;
    flex-direction: row;
    max-width: 60%;
    margin-top: 20px;
  }
  
  .studio-titles {
    flex: 2;
    h1 {
      font-size: $primary-font-size-laptop;
    }
    h3 {
      font-size: 4rem;
    }
  }
  .studio-paragraph {
    padding: 30px;
    p {
      font-size: 2.5rem;
    }
  }
  .studio-main {
    padding: 20px;
  }
  .studio-caroussel-description {
    align-self: center;
    h5 {

      font-size: 4rem;
    }
    h6 {
      font-size: 3rem;
    }
    p {
      font-size: 2.5rem;
    }
  }
  .studio-paragraph {
    p {
      font-size: 2.5rem;
    }
  }
}
